@using MVC.Services.Interfaces;
@inject IIdentityParser<ApplicationUserVM> UserManager

<section class="section home">
    <div style="text-align: center;">
        <img src="https://www.pngmart.com/files/10/Apple-Logo-PNG-Photos.png" alt="Shop" width="1000" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/XiaomiLogoNew2.png" alt="Shop" width="1000" />
        <img src="https://www.freepnglogos.com/uploads/original-samsung-logo-10.png" alt="Shop" width="1000" />
    </div>
</section>